
<div class="container">

  <h1 class = "mt-3">New List</h1>
    <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file, label: "Choose a picture" %>
    <%= f.submit "Submit list", class: "btn btn-primary" %>
    <% end %>

  <div class="mt-3">
  <%= link_to "back", lists_path, class:"text-decoration-none"%>
  </div>

</div>
